@model MvcStockProject2.Models.Entity.TBLSATISLAR
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Satış Yap </button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h2 class="modal-title">Satış Yapma Ekranı</h2>
            </div>
            <form method="post" action="/Satis/YeniSatis">
                <div class="modal-body">
                    <label>
                        Ürün Adı
                    </label>
                    @Html.TextBoxFor(m => m.URUN, new { @class = "form-control" })
                    <br />
                    <label>
                        Müşteri Adı SOyadı
                    </label>
                    @Html.TextBoxFor(m => m.MUSTERI, new { @class = "form-control" })
                    <br />
                    <label>
                        Adet
                    </label>
                    @Html.TextBoxFor(m => m.ADET, new { @class = "form-control" })
                    <br />
                    <label>
                        Fiyat
                    </label>
                    @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })
                    <br />
                    <button type="submit" id="btn1" class="btn btn-info">Satış İşlemini Yap</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>
                </div>
                <script>
                    $('#btn1').click(function () {
                        alert('Satış işlemi başarı ile yapıldı...');
                    });
                </script>
            </form>
        </div>
    </div>
</div>
